[submodule "Submodules/SSKeychain"]
	path = Submodules/SSKeychain
	url = git://github.com/soffes/sskeychain.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/JSONKit"]
	path = Submodules/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Submodules/MBProgressHUD"]
	path = Submodules/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Submodules/MagicalRecord"]
	path = Submodules/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "Submodules/WEPopover"]
	path = Submodules/WEPopover
	url = git://github.com/werner77/WEPopover.git
[submodule "Submodules/SuggestionsList"]
	path = Submodules/SuggestionsList
	url = git@github.com:OpenWatch/SuggestionsList.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Submodules/TestFlight"]
	path = Submodules/TestFlight
	url = git@github.com:OpenWatch/TestFlight-SDK.git
[submodule "Submodules/SDURLCache"]
	path = Submodules/SDURLCache
	url = git@github.com:OpenWatch/SDURLCache.git
[submodule "Submodules/MWFeedParser"]
	path = Submodules/MWFeedParser
	url = git@github.com:OpenWatch/MWFeedParser.git
[submodule "Submodules/Browser-View-Controller"]
	path = Submodules/Browser-View-Controller
	url = git@github.com:OpenWatch/Browser-View-Controller--iPhone-.git
[submodule "Submodules/EGOTableViewPullRefresh"]
	path = Submodules/EGOTableViewPullRefresh
	url = git@github.com:OpenWatch/EGOTableViewPullRefresh.git
[submodule "Submodules/DWTagList"]
	path = Submodules/DWTagList
	url = git@github.com:OpenWatch/DWTagList.git
[submodule "Submodules/BSKeyboardControls"]
	path = Submodules/BSKeyboardControls
	url = https://github.com/OpenWatch/BSKeyboardControls.git
[submodule "Submodules/AVCam"]
	path = Submodules/AVCam
	url = git@github.com:OpenWatch/AVCam.git
