[submodule "Submodules/SSKeychain"]
	path = Submodules/SSKeychain
	url = git://github.com/soffes/sskeychain.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/JSONKit"]
	path = Submodules/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Submodules/MBProgressHUD"]
	path = Submodules/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Submodules/MagicalRecord"]
	path = Submodules/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "Submodules/WEPopover"]
	path = Submodules/WEPopover
	url = git://github.com/werner77/WEPopover.git
[submodule "Submodules/SuggestionsList"]
	path = Submodules/SuggestionsList
	url = git@github.com:OpenWatch/SuggestionsList.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
