[submodule "Submodules/SSKeychain"]
	path = Submodules/SSKeychain
	url = git://github.com/soffes/sskeychain.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Submodules/MBProgressHUD"]
	path = Submodules/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Submodules/MagicalRecord"]
	path = Submodules/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "Submodules/WEPopover"]
	path = Submodules/WEPopover
	url = git://github.com/werner77/WEPopover.git
[submodule "Submodules/SuggestionsList"]
	path = Submodules/SuggestionsList
	url = git@github.com:OpenWatch/SuggestionsList.git
[submodule "Submodules/MWFeedParser"]
	path = Submodules/MWFeedParser
	url = git@github.com:OpenWatch/MWFeedParser.git
[submodule "Submodules/Browser-View-Controller"]
	path = Submodules/Browser-View-Controller
	url = git@github.com:OpenWatch/Browser-View-Controller--iPhone-.git
[submodule "Submodules/EGOTableViewPullRefresh"]
	path = Submodules/EGOTableViewPullRefresh
	url = git@github.com:OpenWatch/EGOTableViewPullRefresh.git
[submodule "Submodules/DWTagList"]
	path = Submodules/DWTagList
	url = git@github.com:OpenWatch/DWTagList.git
[submodule "Submodules/BSKeyboardControls"]
	path = Submodules/BSKeyboardControls
	url = https://github.com/OpenWatch/BSKeyboardControls.git
[submodule "Submodules/TheAmazingAudioEngine"]
	path = Submodules/TheAmazingAudioEngine
	url = https://github.com/TheAmazingAudioEngine/TheAmazingAudioEngine.git
[submodule "Submodules/TUSafariActivity"]
	path = Submodules/TUSafariActivity
	url = https://github.com/davbeck/TUSafariActivity.git
[submodule "Submodules/BButton"]
	path = Submodules/BButton
	url = https://github.com/mattlawer/BButton.git
[submodule "Submodules/UserVoice-SDK"]
	path = Submodules/UserVoice-SDK
	url = git@github.com:OpenWatch/uservoice-iphone-sdk.git
[submodule "Submodules/JSBadgeView"]
	path = Submodules/JSBadgeView
	url = git@github.com:OpenWatch/JSBadgeView.git
[submodule "Submodules/STTweetLabel"]
	path = Submodules/STTweetLabel
	url = https://github.com/SebastienThiebaud/STTweetLabel.git
[submodule "Submodules/FormatterKit"]
	path = Submodules/FormatterKit
	url = https://github.com/mattt/FormatterKit.git
[submodule "Submodules/PKRevealController"]
	path = Submodules/PKRevealController
	url = https://github.com/pkluz/PKRevealController.git
[submodule "Submodules/facebook-ios-sdk"]
	path = Submodules/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "Submodules/SLGlowingTextField"]
	path = Submodules/SLGlowingTextField
	url = https://github.com/aaronbrethorst/SLGlowingTextField.git
[submodule "Submodules/SSToolkit"]
	path = Submodules/SSToolkit
	url = https://github.com/soffes/sstoolkit.git
[submodule "Submodules/BugSense-iOS"]
	path = Submodules/BugSense-iOS
	url = git@github.com:OpenWatch/BugSense-iOS.git
[submodule "Submodules/ODRefreshControl"]
	path = Submodules/ODRefreshControl
	url = https://github.com/Sephiroth87/ODRefreshControl.git
[submodule "Submodules/Mixpanel"]
	path = Submodules/Mixpanel
	url = https://github.com/mixpanel/mixpanel-iphone.git
